swagger: '2.0'

###################################################################
#                     API Documentation                           #
###################################################################
host: octopus.com
basePath : /partyManagement/v1
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json

paths:
  /party:
    get:
      operationId: searchPartyIndividual
      tags:
        - "Party Individual Management"
      summary: "List of Party Individuals"
      description: "Produces List of Party Individuals"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: query
          name: filters
          type: array
          items:
            type: string
      responses:
        200:
          description: |
            *OK* - List of PartyIndividual Will be returned Successfully
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PartyIndividual"
        400:
          description: |
            *Error* - Bad Request
          schema:
            $ref: "#/definitions/Error"
        500:
          description: |
            *Error* - Internal Server error
          schema:
            $ref: "#/definitions/Error"
        404:
          description: |
            *Error* - Not Found
          schema:
            $ref: "#/definitions/Error"
            
    post:
      operationId: createPartyIndividual
      tags:
        - "Party Individual Management"
      summary: "PartyIndividual Registration"
      description: "Creates New entry for the party"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: PartyIndividual Input
          required: true
          schema:
            $ref: "#/definitions/PartyIndividual"
      responses:
        200:
          description: |
            *OK* - List of Admin Users Will be returned Successfully
          schema:
            $ref: "#/definitions/PartyIndividual"
        400:
          description: |
            *Error* - Bad Request
          schema:
            $ref: "#/definitions/Error"
        500:
          description: |
            *Error* - Internal Server error
          schema:
            $ref: "#/definitions/Error"
        404:
          description: |
            *Error* - Not Found
          schema:
            $ref: "#/definitions/Error"
            
  /party/{partyId}:
    get:
      operationId: getPartyIndividualById
      tags:
        - "Party Individual Management"
      summary: "Specific PartyIndividual"
      description: "Produces List of PartyIndividuals"
      parameters:
        - in: path
          name: partyId
          required: true
          type: string
          description: |
            "party Id"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: |
            *OK* - Specific PartyIndividual Will be returned Successfully
          schema:
            $ref: "#/definitions/PartyIndividual"
        500:
          description: |
            *Error* - Internal Server error
          schema:
            $ref: "#/definitions/Error"
        404:
          description: |
            *Error* - Not Found
          schema:
            $ref: "#/definitions/Error"
            
    patch:
      operationId: updatePartyIndividual
      tags:
        - "Party Individual Management"
      summary: "Specific PartyIndividual Updation"
      description: "Produces List of PartyIndividuals"
      parameters:
        - in: path
          name: partyId
          required: true
          type: string
          description: |
            "party Id"
        - in: header
          name: If-Match
          required: false
          type: string
          description: |
            "party Id"
        - in: body
          name: Patch Element
          required: true
          schema:
            $ref: "#/definitions/PatchElement"
          description: |
            "party patch element"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: |
            *OK* - Specific PartyIndividual Will be returned Successfully
          schema:
            $ref: "#/definitions/PartyIndividual"
        500:
          description: |
            *Error* - Internal Server error
          schema:
            $ref: "#/definitions/Error"
        404:
          description: |
            *Error* - Not Found
          schema:
            $ref: "#/definitions/Error"
        419:
          description: |
            *Error* - Conflict
          schema:
            $ref: "#/definitions/Error"
            
    delete:
      operationId: deletePartyIndividual
      tags:
        - "Party Individual Management"
      summary: "Specific PartyIndividual Deletion"
      description: "delete Specific PartyIndividual"
      parameters:
        - in: path
          name: partyId
          required: true
          type: string
          description: |
            "party Id"
        - in: header
          name: If-Match
          required: false
          type: string
          description: |
            "party Id"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: |
            *OK* - Specific PartyIndividual Will be returned Successfully
          schema:
            $ref: "#/definitions/PartyIndividual"
        500:
          description: |
            *Error* - Internal Server error
          schema:
            $ref: "#/definitions/Error"
        404:
          description: |
            *Error* - Not Found
          schema:
            $ref: "#/definitions/Error"
        419:
          description: |
            *Error* - Conflict
          schema:
            $ref: "#/definitions/Error"
      

definitions:
  PartyIndividual:
    type: object
    required: [firstName, aadharId, username, password]
    properties:
      id:
        type: string
        description : |
          Id of Particular PartyIndividual
      aadharId:
        type: string
        description : |
          AAdhar Id of Particular PartyIndividual
      username:
        type: string
        description: |
          User Name Should be selected for the first time. 
      password:
        type: string
        description: |
          Salted Password will be slected for the first time.
      firstName:
        type: string
        description: |
          First name of Particular PartyIndividual
      middleName:
        type: string
        description: |
          Middle name of Particular PartyIndividual
      lastName:
        type: string
        description: |
          Last name of Particular PartyIndividual
      fullName:
        type: string
        description: |
          Full name of Particular PartyIndividual
      contact_details:
        $ref: "#/definitions/ContactMedium"
      billingAccountId:
        type: string
        description: |
          Billing Account will be attached with the Party individual
      status:
        $ref: "#/definitions/PartyIndividualStatusRef"
      relatedParty:
        type: array
        items:
          $ref: "#/definitions/RelatedPartyRef"
  
  PartyIndividualStatusRef: 
    type: string
    enum:
    - ACTIVE
    - PENDING_CONFIRMATION
    - UNAVAILABLE
    - INACTIVE
 
  RelatedPartyRef:
    type: object
    properties:
      role:
        $ref: "#/definitions/Roles"
      relatedPartyId:
        type: string
      fullName:
        type: string
              
  ContactMedium:
    type: object
    properties:
      email:
        type: string
        description: |
          Email id of Particular PartyIndividual
      mobile:
        type: string
        description: |
          mobile of Particular PartyIndividual
      fax:
        type: string
        description: |
          fax of Particular PartyIndividual
      alternate_number:
        type: string
        description: |
          mobile of Particular PartyIndividual
    
  Roles:
    type: string
    enum:
    - PATIENT
    - DOCTOR
    - BOOKING_AGENT
    - RECEPTION_AGENT
    - OPD_AGENT
    - IPD_AGENT
    - ACCOUNT_AGENT
    - FINANCIAL_AGENT
    - ADMIN
    - SALES_AGENT
    - MARKETING_AGENT
    - INFRASTRUCTURE
    - VISITOR
    
  PatchElement:
    type: array
    items: 
      properties:
        op: 
          type: string
          description: |
            Operation To be performed
          example: add, remove, replace
        value: 
          type: string
          description: |
            Value To be replaced
        path: 
          type: string
          description: |
            Object Path to be Patched
  Error:
    type: object
    properties:
      status:
        type: string
        description: |
          Status of the error code
      message:
        type: string
        description: |
          Error message
      details:
        type: string
        description: |
          Error Details
      path:
        type: string
        description: |
          Error Path

